.Home {
  .Home__first-section {
    height: 592px;
    background: rgba(97, 140, 120, 1);
    @media (max-width: 1250px) {
      padding: 15px;
    }
    @media (max-width: 710px) {
      height: 512px;
    }
    > div {
      height: 100%;
      display: flex;
      @media (max-width: 710px) {
        display: none;
      }
      > div {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        > h1 {
          font-size: 55px;
          font-weight: 700;
          width: 524px;
          color: white;
          @media (max-width: 810px) {
            font-size: 43px;
          }
        }
        > a {
          height: 50px;
          width: 200px;
          border-radius: 10px;
          background: rgba(203, 74, 74, 1);
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 600;
          transition: 300ms;
          margin-top: 32px;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.9);
          }
        }
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          @media (max-width: 1050px) {
            justify-content: flex-end;
          }
          div {
            position: relative;
            img {
              width: 300px;
              height: 400px;
              z-index: 10;
              position: relative;
            }
            .Home__first-section__price {
              height: 50px;
              width: 170px;
              position: absolute;
              z-index: 5;
              background: rgba(249, 249, 249, 1);
              display: flex;
              align-items: center;
              justify-content: center;
              color: black;
              border-radius: 5px;
              left: -140px;
              bottom: 50px;
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
      }
    }
    .Home__first-section_mobile {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      max-width: 810px;
      @media (max-width: 710px) {
        display: flex;
      }
      > h1 {
        font-size: 30px;
        font-weight: 700;
        width: 324px;
        color: white;
        text-align: center;
      }
      img {
        height: 60%;
      }
      a {
        height: 50px;
        width: 200px;
        border-radius: 10px;
        background: rgba(203, 74, 74, 1);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        transition: 300ms;
      }
    }
  }
  .Home__new-goods {
    > div {
      padding: 20px 0 30px 0;
      main {
        margin-top: 20px;
        > h3 {
          font-size: 40px;
          font-weight: 700;
          padding-left: 15px;
        }
      }
    }
  }
}
